[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
webdriver-manager = "*"
selenium = "*"
pandas = "*"
pyaml = "*"
requests = "*"
pyodbc = "*"
pg8000 = "*"

[dev-packages]

[requires]
python_version = "3.10"
